body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  text-align: center;
}

h1 {
  margin: 5%;
  display: inline-block;
}

.tenor-gif-embed {
  
  width: 50%;
  margin: auto;
}